# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/
/.idea/
temp_jsonata/
*.txt

# Go workspace file
go.work

# Test outputs
test_suite_out*
run*_out.txt
get_fails*
fix_baseline.go
failing_cases.txt
run_all.txt
cmd/jsonata-import/jsonata-import
