on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Cache-Go
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod              # Module download cache
            ~/.cache/go-build         # Build cache (Linux)
            ~/Library/Caches/go-build # Build cache (Mac)
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Vet
        run: go vet ./...
      - name: Test
        run: go test -coverprofile coverage.txt ./...
      - name: Archive code coverage results
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage.txt
      - name: Display coverage
        if: matrix.os == 'ubuntu-latest'
        run: go tool cover -func=coverage.txt
      - name: Benchmarks
        if: matrix.os == 'ubuntu-latest'
        id: bench
        run: |
          go test -run=^$ -bench . ./... -benchmem | tee bench.txt
      - name: Comment Benchmarks
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const bench = fs.readFileSync('bench.txt', 'utf8');
            github.rest.issues.createComment({
              ...context.repo,
              issue_number: context.issue.number,
              body: `Benchmark results (${process.env['RUNNER_OS']}):\n\n\`\`\`\n${bench}\n\`\`\``
            });
